.CodeMirror {
    &-fullscreen {
        z-index: 9999999;
    }
    &-code {
        font-family: monospace, monospace;
    }
}

.select-snippet {
    .autosuggest {
        position: relative;
    }
    .bottombar {
        position: absolute;
        bottom: 20px;
    }
}
